# for commit
# first commit
server:
  port: 8080

spring:
  config:
    import: optional:file:.env.properties
  datasource:
    url: jdbc:mysql://gyeoldb.cx08oc6c8i7a.ap-northeast-2.rds.amazonaws.com:3306/gyeol
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ec2user
    password: ${GYEOL_PASSWORD}


  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect # Deprecated 경고 제거
    open-in-view: false
    show-sql: true
    hibernate:
      format_sql: true
      ddl-auto: update

  profiles:
    include: oauth

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
            redirect-uri: "{baseUrl}/login/oauth2/code/google"


          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET}
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/kakao"
            scope:
              - profile_nickname
              - account_email

        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

jwt:
  secret: ${JWT_SECRET}